<%- include('./header') %>
<%- include('./navbar') %>
<!-- <%- include('./hero') %> -->
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="../images/chef.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="400" height="200" loading="lazy">
      </div>
      <div class="col-lg-4 container col-xxl-8 px-4 py-5">
        <h2>Executive Chef</h2>
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3" >Lloyd Roberts</h1>
        
        <p class="lead">Lloyd Roberts, Executive Chef of Adachi Restaurant in Birmingham Michigan. Prior to working at Adachi, Chef Lloyd worked and learned from master chefs Jean-Georges Vongerichten, Nobu Matsuhisa and others at Vong, Nobu Moscow and Nobu Budapest. His training reflects his experiences in French, Japanese and other Asian cuisines. Chef Lloyd was born on the island of Jamaica and has lived in New York, Moscow and Budapest – bringing with him a broad range of traditions and local cuisines.</p>
      </div>
    </div>

    <div class="row align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="../images/manager-istock.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="400" height="200" loading="lazy">
      </div>
      <div class="col-lg-4 container col-xxl-8 px-4 py-5">
        <h2>Manager</h2>
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3" >Lloyd Roberts</h1>
        
        <p class="lead">Lloyd Roberts, Executive Chef of Adachi Restaurant in Birmingham Michigan. Prior to working at Adachi, Chef Lloyd worked and learned from master chefs Jean-Georges Vongerichten, Nobu Matsuhisa and others at Vong, Nobu Moscow and Nobu Budapest. His training reflects his experiences in French, Japanese and other Asian cuisines. Chef Lloyd was born on the island of Jamaica and has lived in New York, Moscow and Budapest – bringing with him a broad range of traditions and local cuisines.</p>
      </div>
    </div>
<%- include('./footer') %>
  
