<%- include('./partials/header') %>
<%- include('./partials/navbar') %>
<%- include('./partials/hero') %>
<br><br>
<h1>cart page</h1>
<br><br>
<!-- best seller section -->
<div style="padding: 2rem;">
    <div id="ourmenu" style="text-align:center;">
      <h2 style="font-family:Great Vibes,cursive; color: var(--main-color); z-index: 10;">Discover</h2>
      <h2 style="position: relative; bottom: 30px;">OUR BEST SELLERS</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum consequatur vero cupiditate natus itaque! Dicta dolore hic repellendus modi? A voluptatem tempore maiores recusandae quasi debitis cum aspernatur libero quos vitae reiciendis dolor temporibus sunt itaque enim dolores eaque sed corporis, molestias omnis illum sit facere laudantium cumque! Eos, velit!</p>
    </div>
    <div class="row row-cols-md-4 g-4" style=" display: flex; justify-content:space-between;">
      <div class="col">
        <div class="card">
          <img style="height: 15em;" src="https://images.immediate.co.uk/production/volatile/sites/30/2022/06/Grilled-courgette-halloumi-salad-with-caper-lemon-dressing-1f72685.jpg?resize=500,300" class="card-img-top" alt="...">
          <div class="card-body" style="text-align: center;">
            <h5 class="card-title">Macroni</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            <div style="color:var(--main-color); font-size: 20px; font-weight: 500; padding-bottom: 20px;">$2.5</div>
            <a href="/cart" style="padding: 10px; text-decoration: none; color: var(--sec-color); background-color: var(--main-color);">Add To Cart</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img style="height: 15em;" src="https://sugarspunrun.com/wp-content/uploads/2018/05/Easy-Macaroni-Salad-Recipe-1-of-1-15-1.jpg?resize=300,300" class="card-img-top" alt="...">
          <div class="card-body" style="text-align: center;">
            <h5 class="card-title">Crispy Veggie</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            <div style="color:var(--main-color); font-size: 20px; font-weight: 500; padding-bottom: 20px;">$2.5</div>
            <a href="/cart" style="padding: 10px; text-decoration: none; color: var(--sec-color); background-color: var(--main-color);">Add To Cart</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img style="height: 15em;" src="https://i2.wp.com/www.downshiftology.com/wp-content/uploads/2019/05/Cucumber-Salad-main-1.jpg?resize=500,300" class="card-img-top" alt="...">
          <div class="card-body" style="text-align: center;">
            <h5 class="card-title">Pasta</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            <div style="color:var(--main-color); font-size: 20px; font-weight: 500; padding-bottom: 20px;">$2.5</div>
            <a href="/cart" style="padding: 10px; text-decoration: none; color: var(--sec-color); background-color: var(--main-color);">Add To Cart</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img style="height: 15em;" src="https://www.themediterraneandish.com/wp-content/uploads/2023/04/Mediterranean-Salad_8.jpg?resize=300,500" class="card-img-top" alt="...">
          <div class="card-body" style="text-align: center;">
            <h5 class="card-title">Veggie Salad</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            <div style="color:var(--main-color); font-size: 20px; font-weight: 500; padding-bottom: 20px;">$2.5</div>
            <a href="/cart" style="padding: 10px; text-decoration: none; color: var(--sec-color); background-color: var(--main-color);">Add To Cart</a>
          </div>
        </div>
      </div>
    </div>
</div>

<%- include('./partials/footer') %>