<body style="margin: 0%; padding: 0%;">
    <div style="height:100vh; width: 100vw; background-size: cover ; background-image: url('../images/bgimg.webp');"> >
        <div style="margin-top: 300px; margin-left: 650px; margin-right: 100px; color: white;">
            <h1>Are You Hungry?</h1>
            <p>Lorem ipsumemo  Ratione totam dolorem eum, dolores nesciunt laborum. Veniam, eius omnis! Tempora, recusandae. Vero cupiditate adipisci totam quo, dicta sint mollitia cum?</p>
            <!-- <button style="padding: 15px; border-radius: 10px; background-color: red; ">
                Let's Order!!
            </button> -->
            <a href="/home" style="border: 2px solid var(--sec-color); background-color: red; padding: 10px; text-decoration: none; color: white;">Let's Order</a>
        </div>
    </div>
</body>